fastapi==0.104.1
uvicorn[standard]==0.24.0
mediapipe>=0.10.14
protobuf>=4.23.0
opencv-python
numpy
pydantic-settings
supabase
python-dotenv
google-genai==0.3.0
moviepy
python-multipart
aiohttp
openai-whisper
PyJWT
torch>=2.0.0
torchvision>=0.15.0