@import "tailwindcss";

@theme {
  --color-primary: #135bec;
  --color-primary-hover: #1151d3;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1a2233;
  --font-display: "Lexend", sans-serif;
}

:root {
  --background: #f6f6f8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101622;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display), Arial, Helvetica, sans-serif;
}
